html {
  background-color: rgb(186, 189, 192);
  color: rgb(99, 0, 102);
  background-image: url(./bgImage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.clothCard {
  display: inline-block;
  margin: auto;
  width: 100%;
  color: black;
  text-align: center;
  border-radius: 25%;
  margin-bottom: 2vh;
}
.clothPicture {
  max-width: 50%;
  margin: auto;
}
.cloth {
  width: 100%;
}
.typePicker2, .typePicker3 {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}