html {
  color: rgb(99, 0, 102)
}

.navBar {
  text-align: center;
}

.navItem {
  width: 32vw;
  float: left;
  list-style: none;
  color: rgb(212, 0, 212);
  align-items: center;
  justify-content: space-around;
}

#body {
  text-align: center;
}

.closetMenuList a {
  color: rgb(212, 0, 212);
  list-style: none;
  text-decoration: none;
}
