html {
  background-color: rgb(185, 185, 185);
}

.navBar {
  text-align: center;
}

.navItem {
  width: 32vw;
  float: left;
  list-style: none;
  color: rgb(168, 0, 168);
  align-items: center;
  justify-content: space-around;
}

#body {
  text-align: center;
}

.closetMenuList li {
  color: rgb(212, 0, 212);
  list-style: none;
  text-decoration: none;
}