.closetMenuList {
    margin: auto;
    padding: 0;
    min-width: 10vw;
    max-width: 10vw;
}
.closetMenuList a {
    list-style: none;
    text-decoration: none;
}
.closetMenuListItem {
    color: rgb(212, 0, 212);
    max-width: max-content;
    min-width: min-content;
}
.dialog1, .dialog2, .dialog3 {
    color: rgb(212, 0, 212);
    margin: auto;
}
.clothSize, .clothStyle {
    text-align: center;
    margin: auto;
}
.isWashed {
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}
.body {
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: transparent !important;
}
.formLabel {
    display: block;
    margin: 2vh 5vw;
}
.MuiDataGrid-window {
    max-width: 750px;
}