.title {
    position: absolute;
    text-align: left;
    margin: auto;
    width: 100%;
    padding: 0;
    background-color: rgb(125, 181, 253);
}
.navItem {
    font-size: 1.5rem;
}
.navList {
    position: absolute;
    top: 3vh;
    background-color: rgb(125, 181, 253);
    height: 100%;
    list-style: none;
    min-width: 5vw;
    max-width: 15vw;
    padding: 0 0 0 10px;
}

.body, .navBar, .footer {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.homeTitle {
    font-weight: bold;
    margin-top: 5vh;
}
.drawerButton button {
    margin: 1vh auto;
    display: block;
    width: 100%;
}
.closetMenuList {
    margin-bottom: 0;
    padding-left: 0;
}
.formLabel {
    max-width: 100px;
}